.announcements-content {
  height: 100%;
  overflow: auto;
  position: relative;
  text-align: center;
}
.announcements-content .background-pinboard {
  background-image: url("../img/temp_announcements/pinboard.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: local;
  padding-top: 1%;
  padding-bottom: 1%;
}
.announcements-content .background-pinboard .one-announcement {
  display: inline-block;
  background-image: url("../img/temp_announcements/background3.png");
  background-size: 100% 100%;
  width: 20%;
  min-height: 50%;
  margin: 1%;
  padding: 5% 3% 1% 3%;
}
@media only screen and (max-width: 499px) {
  .announcements-content .background-pinboard .one-announcement {
    width: 50%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 579px) {
  .announcements-content .background-pinboard .one-announcement {
    width: 45%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media only screen and (min-width: 580px) and (max-width: 679px) {
  .announcements-content .background-pinboard .one-announcement {
    width: 40%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media only screen and (min-width: 680px) and (max-width: 999px) {
  .announcements-content .background-pinboard .one-announcement {
    width: 33%;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .announcements-content .background-pinboard .one-announcement {
    width: 25%;
  }
}
.announcements-content .background-pinboard .one-announcement span {
  font-size: 2rem;
  color: #4d4d4d;
}
.announcements-content .background-pinboard .one-announcement h5,
.announcements-content .background-pinboard .one-announcement h6 {
  color: #4d4d4d;
}
