.injected-employees {
  width: 100%;
  height: 100%;

  .left-emplo-navbar {
    border-right: 1px solid black;
  }
  .staff-members {
      width: 100%;
      padding-left: 60px;
      padding-top: 20px;
      
    .staff-member {
      width: 120px;
      height: 120px;
      overflow: hidden;
      margin: 10px;
      position: relative;
      display: inline-block;
      border: 1px solid darken(#817d7d, 40%);
      // background-color: black;

      // .object-fit_contain {
      //   object-fit: contain;
      //   width: 100%;
      //   height: 100%;
      //   vertical-align: center;
      //   margin: auto; 
      // }
    
      .member-description {
        background-color: rgba(255,255,255,0.5);
        padding-bottom: auto;
        position: absolute;
        bottom: -120px;
        transition: all 0.5s ease;
        text-align: center;
    
        .full-name {
          font-size: 0.8em;
          margin-bottom: 0.3em;
          padding-top: 1em;
          margin-top: 0;
        }
        .member-position {
          font-size: 0.7em;
          margin-bottom: 0.4em;
        }
      }
    }
    .staff-member:hover .member-description {
      background-color: rgba(0,0,0,0.7);
      bottom: 0;
      height: 100%;
      color: white;
    }
  }
}