.injected-employees {
  width: 100%;
  height: 100%;
}
.injected-employees .left-emplo-navbar {
  float: left;
  display: inline-block;
  width: 20%;
  border: 1px solid black;
}
.injected-employees .main-emplo-content {
  float: right;
  display: inline-block;
  width: 80%;
  border: 1px solid black;
}
