.show-employee {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
}
#popup-wrapper {
  width: 500px;
  margin: 70px auto;
  text-align: center;
}
#popup-container {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  color: black;
  height: 600px;
  // left: 0%;
}
.popup-close {
  text-align: right;
  font-size: 15px;
}
#wrapper {
  width: 100%;
  text-align: center;
  background-color: pink;

  // border-top: solid 1px;
  // border-color: black;
  margin-bottom: 0;
}
.card-image {
  width: 50%;
  height: 50%;
}
.card-content p {
  font-size: 20px;
  text-align: justify;
  padding-top: 15px;
}
