#hero {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  border-bottom: 2px solid #404040;
  /* LOGO + BACKGROUND IMG */
  /* END OF LOGO + BACKGROUND IMG */
}
#hero .logo-container {
  padding-top: 15px;
  float: left;
  width: 35%;
  height: 100%;
  display: inline-block;
}
#hero .logo-container .logo {
  height: 75px;
  width: 285px;
  padding-left: 50px;
  display: inline-block;
}
@media only screen and (max-width: 480px) {
  #hero .logo-container .logo {
    height: 40px;
    width: 160px;
    padding-left: 30px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  #hero .logo-container .logo {
    height: 60px;
    width: 210px;
    padding-left: 40px;
  }
}
#hero .background-container {
  padding-top: 5px;
  display: inline-block;
  float: left;
}
#hero .background-container .background {
  height: 90px;
  position: relative;
}
@media only screen and (max-width: 480px) {
  #hero .background-container .background {
    height: 45px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  #hero .background-container .background {
    height: 60px;
  }
}
/* SEARCH BOX */
.box {
  float: right;
  padding-top: 10px;
  display: inline-block;
}
.box .container-4 {
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}
.box .container-4 input#search {
  width: 300px;
  height: 40px;
  background: #ddd;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.box .container-4 input#search::-webkit-input-placeholder {
  color: #817d7d;
}
.box .container-4 input#search:-moz-placeholder {
  /* Firefox 18- */
  color: #817d7d;
}
.box .container-4 input#search::-moz-placeholder {
  /* Firefox 19+ */
  color: #817d7d;
}
.box .container-4 input#search:-ms-input-placeholder {
  color: #817d7d;
}
.box .container-4 button.icon {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  background: #aaa;
  height: 40px;
  width: 50px;
  color: #eee;
  opacity: 0;
  font-size: 10pt;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.box .container-4:hover button.icon,
.box .container-4:active button.icon,
.box .container-4:focus button.icon {
  outline: none;
  opacity: 1;
  margin-left: -50px;
}
.box .container-4:hover button.icon:hover {
  background: #bbb;
}
/* END OF SEARCH BOX */
footer {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: inline-block;
  text-align: center;
  border-top: 2px solid #404040;
  background-color: #1a1a1a;
}
footer .offices {
  padding-right: 80px;
}
@media only screen and (max-width: 480px) {
  footer .offices {
    padding-right: 40px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  footer .offices {
    padding-right: 60px;
  }
}
footer .offices h4 {
  color: white;
  font-size: 1.8rem;
}
footer .headquarter1,
footer .headquarter2,
footer .warsaw-location,
footer .social-media {
  display: inline-block;
}
footer .headquarter1,
footer .headquarter2,
footer .warsaw-location {
  padding-left: 50px;
  color: white;
}
@media only screen and (max-width: 480px) {
  footer .headquarter1,
  footer .headquarter2,
  footer .warsaw-location {
    padding-left: 25px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  footer .headquarter1,
  footer .headquarter2,
  footer .warsaw-location {
    padding-left: 37px;
  }
}
footer .headquarter1 h5,
footer .headquarter2 h5,
footer .warsaw-location h5 {
  font-size: 1.2rem;
}
footer .headquarter {
  padding-right: 50px;
}
@media only screen and (max-width: 480px) {
  footer .headquarter {
    padding-right: 25px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  footer .headquarter {
    padding-right: 37px;
  }
}
footer .warsaw-location {
  padding-left: 50px;
}
@media only screen and (max-width: 480px) {
  footer .warsaw-location {
    padding-left: 25px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  footer .warsaw-location {
    padding-left: 37px;
  }
}
footer .social-media {
  float: right;
  padding-right: 50px;
  padding-top: 15px;
}
@media only screen and (max-width: 480px) {
  footer .social-media {
    padding-top: 5px;
    padding-right: 25px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  footer .social-media {
    padding-top: 10px;
    padding-right: 37px;
  }
}
footer .social-media .facebook {
  display: inline-block;
  padding-right: 15px;
}
@media only screen and (max-width: 480px) {
  footer .social-media .facebook {
    padding-right: 5px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  footer .social-media .facebook {
    padding-right: 10px;
  }
}
footer .social-media .linkedin {
  display: inline-block;
}
