#main-view {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 15px;
}
#main-view ul .home-target-li {
  display: inline-block;
  border: 2px solid #404040;
  width: 30%;
  height: 190px;
  margin: 0.5%;
  box-shadow: 7px 7px 6px #333222;
  position: relative;
}
#main-view ul .home-target-li .home-target-div {
  width: 100%;
  height: 100%;
}
#main-view ul .home-target-li .home-target-div a {
  text-decoration: none;
  color: black;
  position: relative;
}
#main-view ul .home-target-li .home-target-div a .home-target-head {
  width: 100%;
  padding: 0.1rem 0.1rem;
  border-bottom: 2px solid #404040;
}
#main-view ul .home-target-li .home-target-div a .home-target-head h2 {
  text-align: left;
  margin-left: 5%;
}
#main-view ul .home-target-li .home-target-div a .announcements-bckgrd {
  background-color: #ed4523;
}
#main-view ul .home-target-li .home-target-div a .news-bckgrd {
  background-color: #ed4574;
}
#main-view ul .home-target-li .home-target-div a .profile-bckgrd {
  background-color: #8face6;
}
#main-view ul .home-target-li .home-target-div a .team-bckgrd {
  background-color: #e87ee8;
}
#main-view ul .home-target-li .home-target-div a .download-bckgrd {
  background-color: #82e352;
}
#main-view ul .home-target-li .home-target-div a .calendar-bckgrd {
  background-color: #90e8bd;
}
#main-view ul .home-target-li .home-target-div a .home-target-content {
  display: block;
  width: 100%;
  height: 64%;
  background-color: white;
}
#main-view ul .home-target-li:hover {
  -webkit-animation-name: example;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.15s;
  /* Chrome, Safari, Opera */
  animation-name: example;
  animation-duration: 0.15s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@-webkit-keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 5px;
    top: 5px;
    box-shadow: none;
  }
}
@keyframes example {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 5px;
    top: 5px;
    box-shadow: none;
  }
}
#main-view ul .home-target-li-smaller {
  display: inline-block;
  border: 2px solid #404040;
  width: 50px;
  height: 50px;
  margin: 0.5%;
  box-shadow: 7px 7px 6px #333222;
  position: relative;
}
.main-view-slide-left {
  -webkit-animation-name: mainviewslide;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.4s;
  /* Chrome, Safari, Opera */
  animation-name: mainviewslide;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@-webkit-keyframes mainviewslide {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
    width: 10%;
    height: 100%;
  }
}
@keyframes mainviewslide {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
    width: 10%;
    height: 100%;
  }
}
