// @backgroundColor: rgb(184,214,164);
@backgroundColor: white;
@fontFamily: "Verdana", "Arial", sans-serif;
@fontSize: 20px;

#grad{
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: @backgroundColor;
  font-family: @fontFamily;
  font-size: @fontSize;
  // position: fixed;

}

ul {
  list-style-type: none;
}

img {
    max-width: 100%;
}

.view-ng {
  display: block;
  background: #77b5d4;
  // position: absolute;
  width: 100%;
  top: 100px;
  bottom: 100px;
}

section {
  display: inline-block;
} 

aside {
  display: inline-block;
}

article {
  display: inline-block;
}

footer {
  display: inline-block;
  height: 100px;
  width: 100%;
}


@import "calendar_stylesheet.less";
@import "index_stylesheet.less";