// @backgroundColor: rgb(184,214,164);
@backgroundColor: white;
@fontFamily: "Verdana", "Arial", sans-serif;
@fontSize: 20px;

#grad{
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: @backgroundColor;
  font-family: @fontFamily;
  font-size: @fontSize;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

ul {
  list-style-type: none;
}

img {
    max-width: 100%;
}

.view-ng {
  position: absolute;
  bottom: 100px;
  top: 100px;
  left: 0;
  right: 0;
  overflow: auto;
  // width: 100%;
  background: #77b5d4;

}

section {
  display: inline-block;
} 

aside {
  display: inline-block;
}

article {
  display: inline-block;
}

footer {
  display: inline-block;
  height: 100px;
  width: 100%;
}


@import "calendar_stylesheet.less";
@import "index_stylesheet.less";
@import "employees_stylesheet.less";
@import "main_view_stylesheet.less";
@import "employee_card_stylesheet.less";