<section class="background-page">
  <p>{{ sometext+5+5 }}</p>
  <!-- kalendarz Upto -->
<!-- <div id="upto-calendar-container-4RLO" class="upto-calendar-plugin"><script>!function(c,b,a){function d(h){var e=document.getElementById("upto-calendar-container-"+c),f=document.createElement("SCRIPT"),g="https://upto.com/js/plugin.js";f.onreadystatechange=function(){if(f.readyState==="loaded"||f.readyState==="complete"){f.onreadystatechange=null;h()}};f.onload=function(){h()};f.setAttribute("src",g);e.parentNode.insertBefore(f,e)}d(function(){upto.init(c)})}("4RLO");</script></div> -->

<!-- kalendarz Tockify -->
  <div data-tockify-component="calendar" data-tockify-calendar="altimi"></div>
  <script data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>
</section>
