<!-- download.html -->
<div ng-if="menu === 'download'" class="download-content">

  <section class="download-main-header">
    <h3>Poniżej znajduje się lista najczęściej poszukiwanych oraz najpotrzebniejszych plików do pobrania:</h3>      
  </section>

  <section class="download-main-content">
    
    <form class="form-inline">
      <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" placeholder="Wpisz szukaną frazę..." ng-model="search">
      </div>
    </form>

    <table class="file2download">
      <thead class="download-table-header">
        <tr class="main-row">
          <th ng-click="sort('name')" class="name">
            Nazwa Pliku
            <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('description')" class="description">
            Opis
            <span class="glyphicon sort-icon" ng-show="sortKey=='description'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th ng-click="sort('date')" class="add-date">
            Data dodania
            <span class="glyphicon sort-icon" ng-show="sortKey=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
          </th>
          <th class="font-icon">Pobierz</th>
        </tr>
      </thead>

      <tbody class="download-table-body">
        <tr class="main-row download-table-row" dir-paginate="item in items | orderBy:sortKey:reverse | filter:search | itemsPerPage:10">
          <td class="name"><span>{{item.name}}</span></td>
          <td class="description"><span>{{item.description}}</span></td>
          <td class="add-date"><span>{{item.date}}</span></td>
          <td class="font-icon"><a href="{{item.link}}" download><i class="fa fa-arrow-circle-down"></i></a></td>
        </tr>
      </tbody>
    </table>

  </section>

  <section class="download-pagination-wrapper">
    <article class="download-pagination-holder">
      <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true" >
      </dir-pagination-controls>
    </article>
  </section>

</div>