<section class="injected-employees">
  <section class="left-emplo-navbar">
    <!-- <ul>
      <h2>Wrocław</h2>
      <li>Zarząd</li>
      <li>Dział Rekrutacji</li>
      <li>Dział Handlowy</li>
      <li>Dział Kadr</li>
      <li>Dział Marketingu</li>
      <li>Administratorzy IT</li>
      <li>Sekretariat</li>
      <li>Research</li>
      <li>Business Developement</li>
      <li>Project Manager</li>
      <li>Quality</li>
      
      <h2>Warszawa</h2>
      <li>Dział Handlowy</li>
      <li>Dział Rekrutacji</li>

      <h2>Projekty</h2>
      <li>Jetshop</li>
      <li>Birlasoft</li>
      <li>GEA</li>
      <li>Softiti</li>
      <li>LORENZ</li>
      <li>APG/SGA</li>
      <li>ePóstur</li>
      <li>Opera Software</li>
      <li>Polsource</li>
      <li>AC Automation</li>

    </ul> -->
  </section>

  <section class="main-emplo-content">
  <!-- <h1>{{test}}</h1> -->
  <div class="search_container">
    <ul class="search_panel">
        <li class="by_person"></li>
        <li class="search_input"><input type="text" id="search" placeholder="Kogo szukasz?"</li>
    </ul>
    <ul class="search_option">
        <li class="by_section"></li>
        <li>
            <select autofocus class="sections">
                <option value="choose" selected disabled>Wybierz dział</option>
                <option value="board">Zarząd</option>
                <option value="pm">Project Manager</option>
                <option value="hr">Rekrutacja</option>
                <option value="sales">Handel</option>
                <option value="kadry">Kadry</option>
                <option value="finance">Finanse</option>
                <option value="businessdevelop">Business Development</option>
                <option value="marketing">Marketing</option>
                <option value="secretary">Sekretariat</option>
                <option value="research">Research</option>
                <option value="quality">Quality</option>
                <option value="support">IT Support</option>
            </select>
        </li>
    </ul>
    <ul>
        <li class="search_button"><button type="button" value="submit">Szukaj</button></li>
    </ul>
  </div>
    <ul class="staff-members-ul">

      <li class="staff-member-li">
        <!-- <h1>{{test}}</h1> -->
        <img class="object-fit_contain" src="./img/temp_employees/Tomasz.jpg">
        <div class="helper"></div>
      </li>

      <li class="staff-member-li">
        <!-- <h1>{{test}}</h1> -->
        <img class="object-fit_contain" src="./img/temp_employees/Aleksander.jpg">
        <div class="helper"></div>
      </li>

      <li class="staff-member-li">
        <!-- <h1>{{test}}</h1> -->
        <img class="object-fit_contain" src="./img/temp_employees/Monika.jpg">
        <div class="helper"></div>
      </li>

      <li class="staff-member-li">
        <!-- <h1>{{test}}</h1> -->
        <img class="object-fit_contain" src="./img/temp_employees/Malgorzata.jpg">
        <div class="helper"></div>
      </li>
      <li class="staff-member-li">
        <!-- <h1>{{test}}</h1> -->
        <img class="object-fit_contain" src="./img/temp_employees/Malgorzata.jpg">
        <div class="helper"></div>
      </li>
      <li class="staff-member-li">
        <!-- <h1>{{test}}</h1> -->
        <img class="object-fit_contain" src="./img/temp_employees/Malgorzata.jpg">
        <div class="helper"></div>
      </li>
      <li class="staff-member-li">
        <!-- <h1>{{test}}</h1> -->
        <img class="object-fit_contain" src="./img/temp_employees/Malgorzata.jpg">
        <div class="helper"></div>
      </li>
      <li class="staff-member-li">
        <!-- <h1>{{test}}</h1> -->
        <img class="object-fit_contain" src="./img/temp_employees/Malgorzata.jpg">
        <div class="helper"></div>
      </li>

   </ul>
  </section>
</section>