<div ng-if="menu === 'employees'" class="show-employees">
  <section class="injected-employees">
    <div class="search-container" ng-class="{'fixed-class': click === 1, 'unfixed-class': click === 0}">
      <div class="row">    
        <div class="col-xs-8 col-xs-offset-2">
          <div class="input-group">
            <input type="text" class="search-input form-control" name="x" placeholder="Imię, nazwisko, projekt..." ng-model="searchEmployee">
            <div class="select">
              <select style="height:33px;" class="form-control" ng-model="emploPosition">
                <option value="">Wybierz dział</option>
                <option value="00zero">Zarząd</option>
                <option value="01one">Dyrektor Operacyjny</option>
                <option value="02two">Project Manager</option>
                <option value="03three">Rekrutacja</option>
                <option value="04four">Handel</option>
                <option value="05five">Kadry</option>
                <option value="06six">Finanse</option>
                <option value="07seven">Business Development</option>
                <option value="08eight">Marketing</option>
                <option value="09nine">Sekretariat</option> 
                <option value="10ten">Research</option>
                <option value="11eleven">Quality</option>
                <option value="12twelve">IT Support</option>
                <option value="13thirteen">Developerzy</option>
              </select>
            </div>
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </div>
        </div>
      </div>   
    </div>
    
  <section class="main-emplo-content"> 
    <div class="staff-members">
      <div class="staff-member" ng-repeat="employee in employees | orderBy: 'positionWeight' | filter:searchEmployee | filter:emploPosition">
        <div id="wrapper">
          <a ng-click="toggle(employee, 1)">
            <img class="object-fit_contain" ng-src="{{employee.img}}" alt="">
              <div class="member-description">
                <h4 class="full-name">{{ employee.name }}</h4>
                <p class="member-position">{{ employee.position }}</p>
              </div>
            </img>
          </a>
        </div>
        <employee-card></employee-card>
      </div>
    </div>
  </section>
  </section>
  </div>