<section class="injected-employees">
  <section class="left-emplo-navbar">
    <!-- <ul>
      <h2>Wrocław</h2>
      <li>Zarząd</li>
      <li>Dział Rekrutacji</li>
      <li>Dział Handlowy</li>
      <li>Dział Kadr</li>
      <li>Dział Marketingu</li>
      <li>Administratorzy IT</li>
      <li>Sekretariat</li>
      <li>Research</li>
      <li>Business Developement</li>
      <li>Project Manager</li>
      <li>Quality</li>
      
      <h2>Warszawa</h2>
      <li>Dział Handlowy</li>
      <li>Dział Rekrutacji</li>

      <h2>Projekty</h2>
      <li>Jetshop</li>
      <li>Birlasoft</li>
      <li>GEA</li>
      <li>Softiti</li>
      <li>LORENZ</li>
      <li>APG/SGA</li>
      <li>ePóstur</li>
      <li>Opera Software</li>
      <li>Polsource</li>
      <li>AC Automation</li>

    </ul> -->
  </section>
  <!-- <h1>{{test}}</h1> -->

    <div class="search-container">
        <div class="row">    
            <div class="col-xs-8 col-xs-offset-2">
                <div class="input-group">
                    <div class="input-group-btn search-panel">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          <span id="search_concept">Wybierz dział</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#board">Zarząd</a></li>
                          <li><a href="#pm">Project Manager</a></li>
                          <li><a href="#hr">Rekrutacja</a></li>
                          <li><a href="#sales">Handel</a></li>
                          <li><a href="#personnel">Kadry</a></li>
                          <li><a href="#finance">Finanse</a></li>
                          <li><a href="#businessdevelop">Business Development</a></li>
                          <li><a href="#marketing">Marketing</a></li>
                          <li><a href="#secretary">Sekretariat</a></li>
                          <li><a href="#research">Research</a></li>
                          <li><a href="#quality">Quality</a></li>
                          <li><a href="#support">IT Support</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="search_param" value="all" id="search_param">         
                    <input type="text" class="form-control" name="x" placeholder="Imię, nazwisko...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <section class="main-emplo-content" ng-controller="EmployeesController"> 
        <div class="staff-members">
            <div class="staff-member" ng-repeat="employee in employees">
                <div id="wrapper">
                    <a ng-click="toggle(employee)">
                        <img class="object-fit_contain" ng-src="{{employee.img}}" alt="">
                            <div class="member-description">
                                <h4 class="full-name">{{ employee.name }}</h4>
                                <p class="member-position">{{ employee.position }}</p>
                            </div>
                        </img>
                    </a>
                </div>
                <employee-card></employee-card>
            </div>
        </div>
    </section>
</section>