<div class="show-employee" ng-show="popupvisible">
    <div id="popup-wrapper">
        <div id="popup-container">
            <p class="popup-close" ng-click="toggle()">[x]</p>
            <img ng-src="{{ showcard.img }}" class="card-image">
            <div class="card-content">
                <h3>{{ showcard.name }}</h3>
                <h4>{{ showcard.position }}</h4>
                <p>e-mail: {{ showcard.mail }}</p>
                <p>telefon: {{ showcard.phone1 }}</p>
                <p>{{ showcard.phone2 }}</p>
            </div>
        </div>
    </div>
</div>