<div>
  <section id="main-view" ng-class="main-view-ngclass">
    <ul>

      <li class="home-target-li" ng-repeat="elem in elements">
        <div class="home-target-div">
          <a href="" ng-click="isWhat(elem.clickName)">
            <div class="{{elem.className}}">
              <h2> <i class="{{elem.fontAwe}}"></i> {{elem.name}}</h2>
            </div>
            <div class="home-target-content">
              content here
            </div>
          </a>
        </div>
      </li>


    </ul>
  </section>
  <div ng-include="'./partials/announcements.html'"></div>
  <div ng-include="'./partials/news.html'"></div>
  <div ng-include="'./partials/yourprofile.html'"></div>
  <div ng-include="'./partials/employees.html'"></div>
  <div ng-include="'./partials/download.html'"></div>
  <div ng-include="'./partials/calendar.html'"></div
></div>