<section id="main_view">
  <ul>

    <li class="home-target-li">
      <div class="home-target-div">
        <a href="">
          <div class="home-target-head announcements-bckgrd">
            <h2>Announcements</h2>
          </div>
          <div class="home-target-content">
            content here
          </div>
        </a>
      </div>
    </li>

    <li class="home-target-li">
      <div class="home-target-div">
        <a href="">
          <div class="home-target-head news-bckgrd">
            <h2>News</h2>
          </div>
          <div class="home-target-content">
            content here
          </div>
        </a>
      </div>
    </li>

    <li class="home-target-li">
      <div class="home-target-div">
        <a href="">
          <div class="home-target-head profile-bckgrd">
            <h2>Profile</h2>
          </div>
          <div class="home-target-content">
            content here
          </div>
        </a>
      </div>
    </li>

    <li class="home-target-li">
      <div class="home-target-div">
        <a href="">
          <div class="home-target-head team-bckgrd">
            <h2>Team</h2>
          </div>
          <div class="home-target-content">
            content here
          </div>
        </a>
      </div>
    </li>

    <li class="home-target-li">
      <div class="home-target-div">
        <a href="">
          <div class="home-target-head download-bckgrd">
            <h2>Download</h2>
          </div>
          <div class="home-target-content">
            content here
          </div>
        </a>
      </div>
    </li>

    <li class="home-target-li">
      <div class="home-target-div">
        <a href="">
          <div class="home-target-head calendar-bckgrd">
            <h2>Calendar</h2>
          </div>
          <div class="home-target-content">
            content here
          </div>
        </a>
      </div>
    </li>

  </ul>
</section>