<!-- news.html -->
<div ng-if="menu === 'news'" class="news-content">

  <article class="news-adding">
    <h3>DODAJ / ABY DODAĆ MUSISZ SIĘ ZALOGOWAĆ</h3>
    <form>
      <h6>Tytuł:</h6>   <textarea class="search-input form-control" type="text" ng-model="newtitle" required></textarea><br />
      <h6>Zdjęcie:</h6> <input class="search-input form-control" type="file" ng-model="newimg"><br />
      <h6>Opis:</h6>    <textarea class="search-input form-control description-input" type="text" ng-model="newdescription" required></textarea><br />
      <h6>Data:</h6>    <textarea class="search-input form-control" type="text" ng-model="newdate" placeholder="rrrr.mm.dd" required></textarea><br />
      <input class="submitt" type="button" value="Dodaj!" ng-click="addAnotherNews(newtitle, newimg, newdescription, newdate)"  onClick="history.go(0)" VALUE="Refresh">
    </form>
  </article>

  <div ng-click="getImage()">
    <img ng-src="{{filePath}}" alt="">
    BLEBLEBLE
    {{cos.container}} <br />
    {{cos.name}} <br />
  </div>

  <article class="news-main-content" dir-paginate="news in allNews|orderBy:'date':'reverse'|itemsPerPage:5">
    <aside class="news-description">
      <h5><i class="fa fa-trash" ng-click="removeNews(news.id)" onClick="history.go(0)" VALUE="Refresh"></i> Skasuj</h5>
      <h4>{{news.date}}</h4>
      <h2>{{news.title}}</h2>
      <figure class="news-tumb">
        <img ng-src="{{news.img}}">
      </figure>
      <div class="module" ng-class="{'line-clamp': !news.pullDown}">
        <p>{{news.description}}</p>
      </div>
      <i class="fa fa-sort-desc" ng-if="!news.pullDown" ng-click="readMore(news)"></i>
      <i class="fa fa-caret-up" ng-if="news.pullDown" ng-click="readLess(news)"></i>
    </aside>
  </article>

  <section class="news-pagination-wrapper">
    <article class="news-pagination-holder">
      <dir-pagination-controls max-size="3" direction-links="true" boundary-links="true" >
      </dir-pagination-controls>
    </article>
  </section>    

</div>