<!-- news.html -->
<div ng-if="menu === 'news'" class="news-content">
  <article class="news-main-content" dir-paginate="news in allNews|orderBy:'date':'reverse'|itemsPerPage:2">
    <aside class="news-description">
      <h4>{{news.date}}</h4>
      <h2>{{news.tittle}}</h2>
      <figure class="news-tumb">
        <img ng-src="{{news.img[0]}}">
      </figure>
      <div class="module" ng-class="{'line-clamp': !news.pullDown}">
        <p>{{news.description}}</p>
      </div>
      <i class="fa fa-sort-desc" ng-if="!news.pullDown" ng-click="readMore(news)"></i>
      <i class="fa fa-caret-up" ng-if="news.pullDown" ng-click="readLess(news)"></i>
    </aside>
  </article>
<!--   <div class="button-wrapper">
    <button class="btn" type="button"><i class="fa fa-chevron-left"></i>&#32;Następne</button>  
    <button class="btn" type="button">Poprzednie&#32;<i class="fa fa-chevron-right"></i></button>
  </div> -->
  <article class="news-pagination-holder">
    <dir-pagination-controls class="news-pagination" max-size="3" direction-links="true" boundary-links="true" >
    </dir-pagination-controls>
  </article>
  

</div>