<!-- news.html -->
<div ng-if="menu === 'news'" class="news-content" nv-file-drop uploader="uploader">

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <article class="news-adding">
    <h3>DODAJ / ABY DODAĆ MUSISZ SIĘ ZALOGOWAĆ</h3>
    <form>
      <h6>Tytuł:</h6>   <textarea class="search-input form-control" type="text" ng-model="newtitle" required></textarea><br />
      <h6>Zdjęcie:</h6> <input nv-file-select uploader="uploader" type="file"/><br/>
      <table class="table">
        <tbody>
          <tr ng-repeat="item in uploader.queue">
              <td><strong>{{item.file.name}}</strong></td>
              <td nowrap>
                <button type="button" class="btn btn-success btn-xs"
                        ng-click="uploadNewimgName(item.file.name); item.upload()"
                        ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span>
                    Załaduj
                </button>
                <button type="button" class="btn btn-danger btn-xs"
                        ng-click="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span>
                    Usuń
                </button>
              </td>
          </tr>
          </tbody>
      </table>
      <!-- <input class="submitt" type="button" value="Dodaj!" ng-click="addPhoto(newimg)"> -->
      <h6>Opis:</h6>    <textarea class="search-input form-control description-input" type="text" ng-model="newdescription" required></textarea><br />
      <h6>Data:</h6>    <textarea class="search-input form-control" type="text" ng-model="newdate" placeholder="rrrr.mm.dd" required></textarea><br />
      <input class="submitt" type="button" value="Dodaj!" ng-click="addAnotherNews(newtitle, newdescription, newimg, newdate)">
    </form>
  </article>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->  
  <!-- <img src="{{newimg.data}}" alt="">

  <div ng-click="getImage()">
    <img ng-src="" alt="">
    BLEBLEBLE
    {{cos}}
    {{cos.container}} <br />
    {{cos.name}} <br />
  </div> -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- ///////////////////////////////////////////////POTRZEBNE/////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- <div class="container">

    <div class="row">

          <div class="col-md-3">

              <input nv-file-select uploader="uploader" type="file" multiple/><br/>
          </div>

          <div class="col-md-9" style="margin-bottom: 40px">
              <table class="table">
                <tbody>
                  <tr ng-repeat="item in uploader.queue">
                      <td><strong>{{item.file.name}}</strong></td>
                      <td nowrap>
                          <button type="button" class="btn btn-success btn-xs"
                                  ng-click="item.upload()"
                                  ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                              <span class="glyphicon glyphicon-upload"></span>
                              Upload
                          </button>
                          <button type="button" class="btn btn-danger btn-xs"
                                  ng-click="item.remove()">
                              <span class="glyphicon glyphicon-trash"></span>
                              Remove
                          </button>
                      </td>
                  </tr>
                  </tbody>
              </table>

              <div>
                  <button type="button" class="btn btn-success btn-s"
                          ng-click="uploader.uploadAll()"
                          ng-disabled="!uploader.getNotUploadedItems().length">
                      <span class="glyphicon glyphicon-upload"></span> Upload all
                  </button>
              </div>
          </div>

          <div class="col-md-9" style="margin-bottom: 40px" data-ng-init="load()">
              <h3>Files in the container</h3>
              <table class="table">
                  <tbody>
                    <tr ng-repeat="file in files">
                        <td>
                            <a href="/api/containers/news-imgs/download/{{file.name}}"><strong>{{
                                file.name }}</strong></a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-xs"
                                    ng-click="delete($index, file.name)"
                                    title="Delete the file">
                                <span class="glyphicon glyphicon-trash"></span>
                                Remove
                            </button>
                        </td>
                    </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div> -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <article class="news-main-content" dir-paginate="news in allNews|orderBy:'date':'reverse'|itemsPerPage:1">
    <aside class="news-description">
      <h5><i class="fa fa-trash" ng-click="removeNews(news.id)"></i> Skasuj</h5>
      <h4>{{news.date}}</h4>
      <h2>{{news.title}}</h2>
      <figure class="news-tumb">
        <img ng-src="{{news.img}}">
      </figure>
      <div class="module" ng-class="{'line-clamp': !news.pullDown}">
        <p>{{news.description}}</p>
      </div>
      <i class="fa fa-sort-desc" ng-if="!news.pullDown" ng-click="readMore(news)"></i>
      <i class="fa fa-caret-up" ng-if="news.pullDown" ng-click="readLess(news)"></i>
    </aside>
  </article>

  <section class="news-pagination-wrapper">
    <article class="news-pagination-holder">
      <dir-pagination-controls max-size="1" direction-links="true" boundary-links="true" >
      </dir-pagination-controls>
    </article>
  </section>    
<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</div>