<div ng-if="menu === 'yourprofile'" id="my_profile">
  <div class="profile_photo" ng-controller="EmployeesController">
    <img src="./img/temp_employees/profile.jpg">
  </div>
  <div class="profile_content">
    <div class="profile_name">
        <h2>Jan Kowalski</h2>
    </div>
    <div class="profile_data">
      <div class="profile_details">
        <h3 class="profile_detail">E-mail:</h3>
        <h3 class="employee_detail">malgorzata.pedziwiatr@altimi.com</h3>
      </div>
      <div class="profile_details">
        <h3 class="profile_detail">Telefon:</h3>
        <h3 class="employee_detail">000-000-000</h3>
      </div>
      <div class="profile_details">
        <h3 class="profile_detail">Urodziny:</h3>
        <h3 class="employee_detail">01-01-1900</h3>
      </div>
    </div>
  </div>
  <div class="user_events">
    <button class="my_events">Moje Eventy</button>
    <button class="my_announcements">Moje Ogłoszenia</button>
  </div>
</div>